.active-link {
    background-color: #0d6efd;
    color: #fff !important;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.3s;
  }
  .nav-link:hover {
    background-color: #0b5ed7;
    color: #fff !important;
    border-radius: 20px;
  }